@font-face {
	font-family: 'Gotham Pro';
	src: url('../fonts/GothamPro.eot');
	src: local('../fonts/Gotham Pro'), local('GothamPro'),
		url('../fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GothamPro.woff') format('woff'),
		url('../fonts/GothamPro.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('../fonts/GothamPro-Bold.eot');
	src: local('../fonts/Gotham Pro Bold'), local('GothamPro-Bold'),
		url('../fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GothamPro-Bold.woff') format('woff'),
		url('../fonts/GothamPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    min-width: 1639px;
    font-family: Gotham Pro, Arial, sans-serif;
    font-size: 17px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    font: inherit;
    font-family: Gotham Pro, Arial, sans-serif;
    color: #000000;
}

.container {
    width: 1421px;
    margin: 0 auto;
    padding: 0 109px;
}

.navigation {
    display: flex;
    flex-direction: row;
}

.logo {
    margin-top: 53px;
}

.navigation-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 180px;
    margin-right: 290px;
    margin-top: 62px;
    padding: 0;
}

.navigation-menu li:first-child {
    padding-right: 38px;
}

.navigation-menu li:nth-child(2) {
    padding-right: 38px;
}

.navigation-menu li:nth-child(3) {
    padding-right: 40px;
}

.telephone-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0;
    margin-top: 65px;
    font-weight: bold;
    padding: 0;
}

.telephone-menu li:first-child {
    margin-right: 28px;
}

.telephone-menu li:last-child {
    margin-top: -10px;
}

.main-header {
    background-image: url('../img/main_background.jpg');
    background-repeat: no-repeat;
    height: 918px;
    background-position: 50% 50%;
}

.bake-header {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 60px;
    letter-spacing: 2px;
    margin: 0;
    display: block;
    margin-top: 20px;
}

.order-btn {
    color: #ffffff;
    background-color: #8e76a9;
    padding: 23px 63px;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    margin-top: 67px;
    display: block;
    width: 190px;
}

.order-section {
    margin-top: 150px;
}

.order-section-text {
    margin-left: -5px;
}

.croissans {
    position: relative;
    top: -255px;
    left: 353px;
}

.catalog-header {
    margin: 0 auto;
    padding: 0;
    margin-top: 145px;
    margin-bottom: 67px;
    width: 650px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.our-cakes-header {
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 15px;
}

.catalog-cakes img {
    margin-left: -10px;
}

.catalog-sorting {
    display: flex;
    flex-direction: row;
}

.catalog-position {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 665px;
}

.catalog-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0;
}

.catalog-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.catalog-cart {
    width: 310px;
    height: 612px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 59px;
}

.catalog-cart:nth-child(2) {
    margin-right: 61px;
}

.catalog-cart:nth-child(3) {
    margin-right: 61px;
}

.catalog-cart:last-child {
    margin-right: 0;
}

.catalog-pagination {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 115px;
    margin-left: 25px;
}

.catalog-pagination a {
    margin-right: 12px;
    text-align: center;
    font: inherit;
    font-family: Gotham Pro, Arial, sans-serif;
    font-size: 14px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0% 0%;
    border-radius: 50%;
    width: 33px;
    height: 32px;
}


.catalog-pagination a:nth-child(2),
.catalog-pagination a:nth-child(3),
.catalog-pagination a:nth-child(4) {
    margin-right: 10px;
}

.catalog-pagination p {
    position: relative;
    bottom: 10px;
}

.catalog-pagination a:last-child {
    margin-right: 0;
}

.catalog-pagination .catalog-pagination-active {
    background-color: #d3cade;
    background-repeat: no-repeat;
    background-position: 0% 0%;
    border-radius: 50%;
    width: 33px;
    height: 32px;
    font-weight: bold;
}

.catalog-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-left: -5px;
    letter-spacing: 0px;
}

.catalog-text b {
    text-align: center;
    vertical-align: middle;
    display: block;
    margin-top: -12px;
    margin-left: -4px;
}

.catalog-btn {
    background-color: #8f77aa;
    padding: 12px 30px;
    font: inherit;
    font-family: Gotham Pro, Arial, sans-serif;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    display: block;
    margin-top: 15px;
    display: none;
}

.catalog-cart:hover .catalog-btn {
    display: block;
}

.catalog-cakes {
    margin-bottom: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -30px;
}

.catalog-position li {
    padding-right: 32px;
}

.catalog-position li:last-child {
    padding-right: 0;
}

.catalog-position-active {
    color: #6a5880;
    border-bottom: 1px dashed #888888;
    padding-bottom: 5px;
}